body{
    font-family: "Jost", sans-serif;
}
p{
    color: gray;
}
.logo{
    width: 250px;
}
.nav-link {
    text-size-adjust: 70px;
    font-size: 70px;
    font-weight: 500;
    color: white;
}
.nav-item{
    margin-right: 20px;
}
/* .myimage{
    background-color: black;
    width: 600px;
    height: 600px;
    border-radius: 50%;
} */
.top-text h1{
    font-size: calc(1.375rem + 1.5vw);
}
.top-text p{
    font-size: 15px;
}
.btn{
    
    font-size: 6px;
}
.x{
    display: flex;
    gap: 35px;
    color: black;
    margin-right: 70px;
}
.x li{
    display: flex;

}
.testimonials{
    text-align: center;
}
.background-nav{
    width: 100%;
    height: 700px;
    background-image: url(../imeges/desk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    text-align: center;
    color: aliceblue;
}
.my_margin{
    margin-top: 150px;
}
.mypadding{
    padding: 10px 350px;
}
button{
    border-color: aliceblue;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: smaller;
    margin-top: 20px;
}
h1{
    margin-top: 10px;
    word-spacing: 10px;
}
h2,i{
    color: rgb(0, 106, 255);
}

.fa-solid{
    font-size: 22px;
    margin-right: 5px;
}

.b p{
    margin-left: 40px;
    color: gray;
}
.b a{
    margin-left: 40px;
    color: rgb(1, 141, 228);
}

.card2{
    width: 1200px;
    height: 510px;
    margin: 50px 120px;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.card22{
    grid-template-rows: 45% 25% 25%;
}
.ourteam_section{
    text-align: center;
}
.ourteam_section h1{
    margin-top: 100px;
    margin-bottom: 50px;
}  
.ourteam_section i{
    margin-left: 10px;
} 
.card3{
    margin: 100px 400px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 700px;
    padding: 20px;
}  
footer{
    color: white;
    background-color: rgb(54, 54, 54);
    padding-bottom: 150px;
    padding-top: 100px;
   
}
footer i{
    margin-left: 15px;
}

.bg-gray{
    background-color: rgb(215, 215, 215);
    border: 1px;
    border-radius: 20px;
}
.myshadow{
    box-shadow: 12px 14px 65px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.input{
    width: 1000px;
    height: 200px;
}



/*   media queries    */

    /* mobile */
    @media (max-width:576px) {
        .logo{
            width: 170px;
        }
        .navbar a{
            font-size: 11px !important;
        }
        .top-text h1{
            font-size: 18px;
        }
        .top-text p{
            font-size: 11px;
        }
        .background-nav{
            height: 460px;
        }
        .my_margin{
            margin: 50px;
        }
        .top-text button{
            width: 70px;
            font-size: 8px;
        }
        .top-text h2{
            font-size: 16px;
        }
        .top-text li{
            font-size: 10px;
        }
        .mymargin{
            width: 350px !important;
            margin-left: 20px;
        }
        .top-text h5{
            font-size: 12px;
        }
        .my_image{
            width: 234px;
            margin-left: 142px;
            margin-top: -80px;
        }
        .mypadding{
            padding: 10px 30px;
        }
        .top-text a{
            width: 70px;
            font-size: 8px;
        }
        .new_span span{
            font-size: 11px;
        }
        .mywidth{
            width: 70px !important;
        }
        .top-margin{
            margin-top: 50px !important;
        }
        .marg{
            margin: 0px;
        }
        .top-text form,::placeholder{
            font-size: 13px;
        }
        .myform{
            width: 95% !important;
            margin-left: 10px;
        }
        .ourteam_section h1{
            margin: 0px 10px;
        }
    }

    /* tablet */
    @media (min-width:577px) and (max-width:991px){
        .logo{
            width: 200px;
        }
        .navbar a{
            font-size: 15px !important;
        }
        .my_image{
            width: 60% !important;
            margin-left: 350px;
            margin-top: -135px;
        }
        .top-text h1{
            font-size: 30px;
        }
        .top-text p,li{
            font-size: 15px
        }
        .top-text button{
            width: 82px;
            font-size: 10px;
        }
        .mypadding {
            padding: 10px 50px;
        }
        .top-text form,::placeholder{
            font-size: 13px;
        }
        .top-margin{
            margin-top: 50px !important;
        }
    }