body{
    font-family: "Jost", sans-serif;
}
p{
    color: gray;
}
.nav-link {
    font-size: 70px;
    font-weight: 500;
    color: white;
}
.nav-item{
    margin-right: 20px;
}
/* .myimage{
    background-color: black;
    width: 600px;
    height: 600px;
    border-radius: 50%;
} */
.x{
    display: flex;
    gap: 35px;
    color: black;
    margin-right: 70px;
}
.x li{
    display: flex;

}
.card1{
    width: 100%;
    height: 700px;
    background-image: url(../imeges/desk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.5; */
    text-align: center;
    color: aliceblue;
}
.my_margin{
    margin-top: 150px;
}
button{
    border-color: aliceblue;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: smaller;
    margin-top: 20px;
}
h1{
    margin-top: 10px;
    word-spacing: 10px;
}
h2,i{
    color: rgb(0, 106, 255);
}

.fa-solid{
    font-size: 22px;
    margin-right: 5px;
}
.a{
   display: flex; 
   justify-content: center;
}
.b p{
    margin-left: 40px;
    color: gray;
}
.b a{
    margin-left: 40px;
    color: rgb(1, 141, 228);
}

.card2{
    width: 1200px;
    height: 510px;
    margin: 50px 120px;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.card22{
    grid-template-rows: 45% 25% 25%;
}
.ourteam_section{
    text-align: center;
}
.ourteam_section h1{
    margin-top: 100px;
    margin-bottom: 50px;
}  
.ourteam_section i{
    margin-left: 10px;
} 
.card3{
    margin: 100px 400px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 700px;
    padding: 20px;
}  
footer{
    color: white;
    background-color: rgb(54, 54, 54);
    padding-bottom: 150px;
    padding-top: 100px;
   
}
footer i{
    margin-left: 15px;
}

.bg-gray{
    background-color: rgb(215, 215, 215);
    border: 1px;
    border-radius: 20px;
}
.myshadow{
    box-shadow: 12px 14px 65px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
}
.input{
    width: 1000px;
    height: 200px;
}