body{font-family: 'Noto Serif', serif;}
p{
    color: gray;
}
/* .navbar{
    background-color: rgb(128, 128, 128);
    padding: 10px;
    justify-content: flex-end;
    opacity: .5;
} */
.x{
    display: flex;
    gap: 35px;
    color: black;
    margin-right: 70px;
}
.x li{
    display: flex;

}
.card1{
    width: 100%;
    height: 700px;
    background-image: url(../imeges/im1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}
.my_margin{
    margin-top: 100px;
}
button{
    border-color: aliceblue;
    border-radius: 20px;
    padding: 10px 25px;
    font-size: smaller;
    margin-top: 20px;
}
h1{
    margin-top: 10px;
    word-spacing: 10px;
    text-align: center;
}
h2,i{
    color: rgb(0, 106, 255);
}
.card{
    display: grid;
    justify-content: center;
    align-items: center;
}
.card .c{
    width: 1200px;
    height: 510px;
    background-color: black;
    margin: 50px 120px;
    color: aliceblue;
    display: grid;
    grid-template-columns: 45% 25% 25%;
    justify-content: center;
    align-items: center;
}
.card .c img{
    height: 61vh;
    grid-row: 1/3;
}
.txt .p p{
    color: gray;
    box-sizing: border-box;
    margin: 0px;
}
.txt{
    width: 70%;
    color: aliceblue;
    text-transform: capitalize;
    line-height: 22px;
}
.fa-solid{
    font-size: 22px;
    margin-right: 5px;
}
.a{
   display: flex; 
   justify-content: center;
}
.b p{
    margin-left: 40px;
    color: gray;
}
.b a{
    margin-left: 40px;
    color: rgb(1, 141, 228);
}

.card2{
    width: 1200px;
    height: 510px;
    margin: 50px 120px;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.card22{
    grid-template-rows: 45% 25% 25%;
}
.q{
    text-align: center;
}
.q h1{
    margin-top: 100px;
    margin-bottom: 50px;
}  
.q i{
    margin-left: 10px;
} 
.card3{
    margin: 100px 400px;
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 700px;
    padding: 20px;
}  
.z{ 
    background-color: pink;
    width: 100%;
    height: 700px;
    padding: 50px;
    margin-top: 100px;
    box-sizing: border-box;
} 
input[type="text"],
input[type="tel"],
input[type="email"]{
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 1px 0px;
    box-sizing: border-box;
    border-radius: 20px;
} 
input[type="submit"]{
    text-align: center;
    width: 150px;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 1px 0px
}
footer{
    color: white;
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    padding: 50px 100px;
    margin-top: 50px;
    font-size: small;
    
}
footer i{
    margin-left: 15px;
}
footer button{
    color: aliceblue;
    text-align: center;
    background-color: rgb(12, 149, 239);
}

